/* Définition des couleurs et variables globales */
:root {
    --vert: #4CAF50;
    --jaune: #FFC000;
    --rouge: #94140B;
    --bleu: #2196F3;
    --marron: #795548;
    --couleur-fond: #CCDAEA;
    --couleur-fond-header: #B0C4DE;
}

/* Styles globaux communs à toutes les pages */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--couleur-fond);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--couleur-fond-header);
    width: 100%;
    position: fixed;
    padding-bottom: 5px;
    top: 0;
    right: 0;
    height: 55px;
    text-align: center;
    align-content: center;
    color: white;
    font-size: large;
    font-weight: bold;
}

a {
    color: white;
    font-style: italic;
}

.contenu {
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre {
    text-align: center;
    font-size: 2rem;
    margin-top: 90px;
    color: var(--couleur-fond-header);
    -webkit-text-stroke: 2px black;
    font-weight: bold;
}


/* Responsive global */
@media (max-width: 550px) {
    body {
        padding: 3px;
        flex-direction: column;
    }
    .titre {
        font-size: 1.5rem;
    }
}
