/* Définition des couleurs et variables globales */
:root {
    --vert: #4CAF50;
    --jaune: #FFC000;
    --rouge: #94140B;
    --bleu: #2196F3;
    --marron: #795548;
    --couleur-fond: #CCDAEA;
    --couleur-fond-header: #B0C4DE;
}

/* Styles globaux communs à toutes les pages */

header {
    background-color: var(--couleur-fond-header);
    width: 100%;
    position: fixed;
    padding-bottom: 5px;
    top: 0;
    right: 0;
    height: 55px;
    text-align: center;
    align-content: center;
    color: white;
    font-size: large;
    font-weight: bold;
}

a {
    color: white;
    font-style: italic;
}

body {
    margin-top: 65px;
    padding: 20px;
    background-color: var(--couleur-fond);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--bleu);
}


/* Responsive global */
@media (max-width: 550px) {
    body {
        padding: 3px;
        flex-direction: column;
    }
}
