/* Définition des couleurs et variables globales */
:root {
    --vert: #4CAF50;
    --jaune: #FFC000;
    --rouge: #94140B;
    --bleu: #2196F3;
    --marron: #795548;
    --couleur-fond: #CCDAEA;
    --couleur-fond-header: #B0C4DE;
}

/* Styles globaux communs à toutes les pages */

header {
    background-color: var(--couleur-fond-header);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    text-align: center;
    align-content: center;
    color: white;
    font-size: large;
    font-weight: bold;
}

a {
    color: white;
    font-style: italic;
}

body {
    margin-top: 60px;
    padding: 20px;
    background-color: var(--couleur-fond);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Responsive global */
@media (max-width: 768px) {
    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    div {
        margin: 5px;
        padding: 3px;
        width: 90%;
    }
}
