/* Style pour la page questionnaire par film */

.accueil_film {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ligne {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.bouton_par_film {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 2%;
    padding: 1%;
    border-radius: 15px;
    border: solid 1px grey;
}

.image_film {
    overflow: hidden;
    border-radius: 5px;
    height: auto;
    width: 100%;
}
