/* Style pour la page questionnaire par film */

.accueil_film {
    /* à faire */
    display: flex;
    flex-direction: column;
}

.ligne {
    display: flex;
    flex-direction: row;
    width: 60%;
    padding: 5%;
}

.bouton_par_film {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    border-radius: 15px;
    border: solid 1px grey;
}

.image_film {
    overflow: hidden;
    border-radius: 5px;
    height: 350px;
    width: auto;
}