/* Style pour la page questionnaire par film */

.accueil_film {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ligne {
    display: flex;
    flex-direction: row;
    width: 80%;
    min-width: 600px;
}

.bouton_par_film {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21%;
    min-width: 120px;
    margin: 2%;
    padding: 1%;
    border-radius: 15px;
    border: solid 1px grey;
}

.image_film {
    overflow: hidden;
    border-radius: 5px;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .ligne {
        width: 96%;
        min-width: none;
    }
    .bouton_par_film {
        width: 44%;
        min-width: none;
    }
}