header {
    background-color: darkblue;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    text-align: center;
    align-content: center;
    color: white;
    font-size: large;
    font-weight: bold;
}

a {
    color: white;
    font-style: italic;
}

body {
    margin-top: 60px;
    background-color: royalblue;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    padding: 15px;
    background-color: darkblue;
    width: 60%;
    color: white;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    border-radius: 20px;
}
#divResultat {
    text-align: left;
}

.accueil {
    display: flex;
    max-height: 80%;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre {
    color: red;
    font-size: 20px;
    line-height: 25px;
}

img {
    width: 80%;
    height: auto;
}

.boutton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}

textarea {
    height: 20px;
    color: white;
    background-color: royalblue;
}

input[type="text"] {
    min-width: 50px;
    max-width: 300px;
    height: 1rem;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 4px;
    display: inline-block;
    color: black;
    text-align: left;
}

/* Animation pour le succès (vert) */
@keyframes successAnimation {
    0% { transform: scale(1); background-color: darkblue; }
    50% { transform: scale(1.05); background-color: green; }
    100% { transform: scale(1); background-color: darkblue; }
}

/* Animation pour l'échec (rouge) */
@keyframes errorAnimation {
    0% { transform: scale(1); background-color: darkblue; }
    50% { transform: scale(1.05); background-color: red; }
    100% { transform: scale(1); background-color: darkblue; }
}

/* Classe pour appliquer l'animation de succès */
.success {
    animation: successAnimation 0.5s ease-in-out;
}

/* Classe pour appliquer l'animation d'échec */
.error {
    animation: errorAnimation 0.5s ease-in-out;
}


@media (max-width: 768px) {
    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    div {
        margin: 5px;
        padding: 3px;
        width: 90%;
    }
}
