header{
    background-color: darkblue;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    text-align: center;
    align-content: center;
    color: white;
    font-size: large;
    font-weight: bold;
}
a{
    color: white;
    font-style: italic;
}

body{
    margin-top: 60px;
    background-color: royalblue;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div{
    padding: 15px;
    background-color: darkblue;
    width: 60%;
    color:white;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    border-radius: 20px 20px 20px 20px;

}

.accueil{
    display: flex;
    max-height: 80%;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre{
    color:red;
    font-size: 20px;
    line-height: 25px;
}
img{
    width: 80%;
    height: auto;
}
.boutton{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    text-decoration: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}
textarea{
    height: 20px;
    color: white;
    background-color: royalblue;
}

@media (max-width: 768px) {
    h2{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }

    div{
        margin: 5px;
        padding: 3px;
        width: 90%;
    }
    input{
        width: 250px;
    }
}