<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.title }} - {{ page.title }}</title>
            <link rel="icon" href="{{ site.url }}/static/images/logo.ico">

        <link rel="stylesheet" href="{{ site.url }}/static/css/base.css">
        {% if page.css %}
        <link rel="stylesheet" href="{{ site.url }}/static/css/{{ page.css }}">
        {% endif %}
        {% if page.layout == "niveau" %}
        <link rel="stylesheet" href="{{ site.url }}/static/css/niveau.css">
        {% endif %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4994392991547793"
     crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href="{{ site.url }}/index.html">DGL - film</a>
        </header>
        <main>
            <div class="pub">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4994392991547793" crossorigin="anonymous"></script>
                    <!-- pub de base questionnaire film -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4994392991547793" data-ad-slot="6970248312" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
            <div class="contenu">
                <div class="titre">
                    {{ page.title }}
                </div>
                {{ content }}
            </div>
            <div class="pub">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4994392991547793" crossorigin="anonymous"></script>
                    <!-- pub de base questionnaire film -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4994392991547793" data-ad-slot="6970248312" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
        </main>
    </body>
</html>