---
layout: base
---

<div class="choix_niveaux">
    <a class="lien_niveau" style="background-color: var(--vert); width: 20%" href="{{ site.url }}/html/questionnaire.html?questionnaire={{ page.questionnaire }}&niveau=debutant">
        <span class="texte_vertical">Niveau</span>
        <span class="texte_horizontal">Débutant</span>
    </a>
    <a class="lien_niveau" style="background-color: var(--jaune); width: 20%" href="{{ site.url }}/html/questionnaire.html?questionnaire={{ page.questionnaire }}&niveau=confirme">
        <span class="texte_vertical">Niveau</span>
        <span class="texte_horizontal">Confirmé</span>
    </a>
    <a class="lien_niveau" style="background-color: var(--rouge); width: 20%" href="{{ site.url }}/html/questionnaire.html?questionnaire={{ page.questionnaire }}&niveau=expert">
        <span class="texte_vertical">Niveau</span>
        <span class="texte_horizontal">Expert</span>
    </a>
</div>
