---
layout: base
---

<div class="choix_niveaux">
    {% assign nombre_niveaux = page.nombre_niveaux | default: 3 %}
    
    {% if nombre_niveaux >= 1 %}
    <a class="lien_niveau" style="background-color: var(--vert);" href="{{ site.url }}/html/questionnaire.html?questionnaire={{ page.questionnaire }}&niveau=debutant">
        <span class="texte_vertical">Niveau</span>
        <span class="texte_horizontal">Débutant</span>
    </a>
    {% endif %}
    
    {% if nombre_niveaux >= 2 %}
    <a class="lien_niveau" style="background-color: var(--jaune);" href="{{ site.url }}/html/questionnaire.html?questionnaire={{ page.questionnaire }}&niveau=confirme">
        <span class="texte_vertical">Niveau</span>
        <span class="texte_horizontal">Confirmé</span>
    </a>
    {% endif %}
    
    {% if nombre_niveaux >= 3 %}
    <a class="lien_niveau" style="background-color: var(--rouge);" href="{{ site.url }}/html/questionnaire.html?questionnaire={{ page.questionnaire }}&niveau=expert">
        <span class="texte_vertical">Niveau</span>
        <span class="texte_horizontal">Expert</span>
    </a>
    {% endif %}
</div>
