---
layout: base
css: niveau
---

<div class="choix_niveaux">
    {% assign nombre_niveaux = page.nombre_niveaux | default: 3 %}
    
    {% if nombre_niveaux >= 1 %}
    <a class="lien_niveau" style="background-color: var(--vert); width: 100%" href="{{ site.url }}/html/questionnaire.html?questionnaire={{ page.questionnaire }}&niveau=debutant">
        <div class="texte_vertical">Niveau</div>
        <div class="texte_horizontal">Débutant</div>
    </a>
    {% endif %}
    
    {% if nombre_niveaux >= 2 %}
    <a class="lien_niveau" style="background-color: var(--jaune); width: 50%" href="{{ site.url }}/html/questionnaire.html?questionnaire={{ page.questionnaire }}&niveau=confirme">
        <div class="texte_vertical">Niveau</div>
        <div class="texte_horizontal">Confirmé</div>
    </a>
    {% endif %}
    
    {% if nombre_niveaux >= 3 %}
    <a class="lien_niveau" style="background-color: var(--rouge); width: 20%" href="{{ site.url }}/html/questionnaire.html?questionnaire={{ page.questionnaire }}&niveau=expert">
        <div class="texte_vertical">Niveau</div>
        <div class="texte_horizontal">Expert</div>
    </a>
    {% endif %}
</div>
